# =============== #

#Unity generated#

# =============== #

.idea/

Temp/

Obj/

Bin/

UnityGenerated/

Library/

App/

UWP/

QCAR/

Builds/

ServerData/

CacheServer/

UnityPackageManager/

project.json

project.lock.json


# ===================================== #

# Visual Studio / MonoDevelop generated#

# ===================================== #

.vs/
.vscode/

ExportedObj/

obj/

*.svd

*.userprefs
/*.csproj

*.editorconfig

*.csproj

*.pidb

*.suo

/*.sln

*.sln

*.user

*.unityproj

*.ipch

*.opensdf

*.sdf

*.tlog

*.log

*.idb

*.opendb

*.pb

*.h5

WSATestCertificate.pfx
WSATestCertificate.pfx.meta

!*.obj
!*.rsp
!Assets/*.rsp
!/*.rsp
!*~

*.unitypackage

Assembly-CSharp.csproj.DotSettings
Assets/Plugins/Editor.meta
Assets/Plugins/Editor/JetBrains/
Assets/Plugins/Editor/JetBrains.meta
out/
#ProjectSettings/EditorSettings.asset
#ProjectSettings/EditorBuildSettings.asset
#ProjectSettings/ProjectSettings.asset
!*.dll
#ProjectSettings/QualitySettings.asset
Work/
*.spriteatlas
.svn